.heroSection {
  background-image: url(../../Assets/hero2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  //   background: #010517;
  //   opacity: 0.6;
  .circleText {
    position: absolute;
    top: 5.4rem;
    left: 1rem;
    background: rgba(255, 255, 255, 0.2);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    @media only screen and (max-width: 500px) {
      top: 2.4rem;
    }
    img {
      transform: translate(13%, 13%);
    }
  }
  .heroText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(200px);
    @media only screen and (max-width: 500px) {
      transform: translateY(140px);
    }
    .tt {
      background-color: #fafafa;
    }
    h1 {
      font-weight: 800;
      font-size: 38px;
      line-height: 40px;
      color: #fafafa;
      margin-bottom: 1rem;
      @media only screen and (max-width: 768px) {
        font-size: 30px;
        line-height: 32px;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 14px;
      color: #d9d9d9;
      //   margin: 0;
      @media only screen and (max-width: 768px) {
        font-size: 15px;
        line-height: 20px;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    form {
      background: #f9f9f9;
      border-radius: 10px;
      height: 4rem;
      max-width: 30rem;
      padding: 1rem 1rem 2rem 1rem;
      //   display: flex;
      //   flex-direction: column;
      @media only screen and (max-width: 768px) {
        max-width: 24rem;
      }
      @media only screen and (max-width: 500px) {
        max-width: 17rem;
      }
      label {
        display: block;
        font-size: 12px;
      }
      input {
        border: 1px solid #b3b3b3;
        border-radius: 10px;
        width: 24rem;
        height: 2rem;
        @media only screen and (max-width: 768px) {
          max-width: 17rem;
        }
        @media only screen and (max-width: 500px) {
          max-width: 14rem;
        }
      }
      button {
        background: #0b1757;
        border-radius: 10px;
        color: #fafafa;
        padding: 0.5rem;
        @media only screen and (max-width: 768px) {
          margin-top: 0.5rem;
          width: 17rem;
        }
        @media only screen and (max-width: 500px) {
          margin-top: 0.5rem;
          width: 14.5rem;
        }
      }
    }
  }
}
