.wrapperPlaystore {
  display: grid;
  place-items: center;
}
.playstore {
  // margin: 2rem 18rem;
  // margin-left: 15rem;
  padding: 1rem 7rem;
  background: #0b1757;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  //   height: 250px;
  // width: 1201px;
  .playImg {
    display: block;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  .playImg2 {
    display: none;
    @media only screen and (max-width: 768px) {
      display: block;
      width: 300px;
    }
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    padding: 0.1rem;
  }
  .playText {
    h2 {
      text-align: center;
      color: #ffad0e;
    }
    h6 {
      color: #ffffff;
      text-align: center;
    }
    .store {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
      .gStore,
      .aStore {
        background: #ffffff;
        border-radius: 16px;
        display: flex;
        align-items: center;
        padding: 0.6rem;
        p {
          width: 7rem;
          margin: 0;
        }
      }
    }
  }
}
