@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.partner {
  background: #f0f0f0;
  opacity: 0.6;
  mix-blend-mode: luminosity;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6rem;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

// .slick-prev:before,
// .slick-next:before {
//   font-family: "slick";
//   font-size: 20px;
//   line-height: 1;
//   opacity: 0;
//   color: red;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
// .slick-slider {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   // box-sizing: border-box;
//   -webkit-user-select: none;
//   user-select: none;
//   -webkit-touch-callout: none;
//   -khtml-user-select: none;
//   touch-action: pan-y;
//   -webkit-tap-highlight-color: transparent;
// }
