.footerItems {
  background: #0b1757;
  hr {
    width: 80%;
    color: red;
  }
}
footer {
  margin-top: 2rem;
  color: #ebebeb;
  display: flex;
  justify-content: space-evenly;
  .row {
    .brand {
      text-align: start;
      padding-bottom: 1rem;
    }
    .description {
      max-width: 18rem;
      padding-bottom: 1rem;
    }
    .social-icons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .icon {
        padding-right: 1rem;
      }
    }
    h3 {
      padding-left: 3rem;
    }
    .list {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
      color: #ebebeb;
      cursor: pointer;
      .listLink {
        padding-bottom: 1rem;
      }
    }
  }
}
.lowerFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ebebeb;
  padding-bottom: 2rem;
}
