.wrapperWaitlist {
  display: grid;
  place-items: center;
  position: relative;
  .centerForm {
    position: absolute;
    top: 15%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    @media only screen and (max-width: 990px) {
      left: 20%;
    }
    @media only screen and (max-width: 500px) {
      margin-top: 2rem;
      left: 4%;
    }
    h2 {
      margin: 0;
      color: #ffad0e;
    }
    p {
      margin: 0;
      color: #ffffff;
    }
  }
  .waitList {
    background: #0b1757;
    border-radius: 10px;
    @media only screen and (max-width: 768px) {
      height: 20rem;
      width: 580px;
    }
    @media only screen and (max-width: 500px) {
      height: 20rem;
      width: 465px;
    }
    @media only screen and (max-width: 450px) {
      height: 20rem;
      width: 402px;
    }
    @media only screen and (max-width: 380px) {
      height: 20rem;
      width: 320px;
    }
    b {
      opacity: 0;
    }
    img {
      width: 100%;
      height: auto;
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
    // background-image: url(../../Assets/bgwaitlist.svg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 456px;
    // display: grid;
    // place-items: center;
  }
  .wrapperForm {
    border: 1px solid red;
    border-radius: 5px;
    background-color: #fafafa;
    width: 19rem;
    padding: 0.2rem 0.2rem 0.2rem 0.7rem;
    position: relative;
    @media only screen and (max-width: 768px) {
      margin-top: 1rem;
      width: 17rem;
    }
    .mailIcon {
      position: absolute;
      left: 5px;
      top: 13px;
      font-size: 1.3rem;
      @media only screen and (max-width: 768px) {
        left: 0px;
      }
    }
    .waitlistForm {
      border: none;
      padding: 5px 20px;
      @media only screen and (max-width: 768px) {
        padding: 5px 10px;
      }
      &:focus {
        outline: none;
        // 84704266801
      }
    }
    .waitListBtn {
      background: #0b1757;
      border-radius: 10px;
      color: #fafafa;
      padding: 0.5rem 0.8rem;
      margin-left: 1.5rem;
      @media only screen and (max-width: 768px) {
        margin-left: 0.5rem;
      }
      @media only screen and (max-width: 500px) {
        margin-left: 0.1px;
        padding: 8px 17px;
      }
    }
  }
}
